// Header
.header {

  // padding-top: 14px;
  // padding-bottom: 14px;
  @media(max-width: 1199px) {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  @media(max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  z-index: 3;

  &Logo {
    img {
      min-width: 24px;

      @media(max-width: 1199px) {
        min-width: 53px;
      }

      @media(max-width: 767px) {
        min-width: 24px;
      }
    }

    &--white {
      @media(max-width: 991px) {
        display: none;
      }
    }

    &--black {
      display: none;

      @media(max-width: 991px) {
        display: block;
      }
    }
  }

  &Lang {
    a {
      font-weight: 400;
    }
    select {
      font-weight: 400;
      -webkit-appearance: none;
      -moz-appearance: none;
      color: #1a1a1a;
      cursor: pointer;
      @media(max-width: 991px){
        color: #1A1A1A;
      }
    }
  }

  &Nav {
    width: 100%;

    &.active {
      display: block;
      -webkit-animation: shows 0.5s;
      animation: shows 0.5s;
    }

    @media(max-width: 991px) {
      display: none;
      position: fixed;
      background-color: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 93px);
      top: 93px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      overflow-y: scroll;
      padding-top: 40px;
      padding-bottom: 60px;
      z-index: 3;
    }

    @media(max-width: 767px) {
      top: 46px;
      height: calc(100% - 46px);
    }

    ul {
      justify-content: space-between;

      li {
        &.has-child {
          position: relative;

          @media(max-width: 991px) {
            &::after {
              content: '';
              position: absolute;
              left: calc(100% + 10px);
              width: 8px;
              height: 15px;
              background: url('@img/icons/arrow-menu-sm.svg') no-repeat center center / 8px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        a {
          font-weight: 300;

          @media(max-width: 1199px) {
            font-size: 15px;
          }

          @media(max-width: 991px) {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }

    &>ul {

      &>li {
        position: relative;
        padding: 15px 0;

        @media(max-width: 991px) {
          padding-top: 0;
          padding-bottom: 0;
        }

        &:hover {
          &>ul {
            display: block;

            @media(max-width: 991px) {
              display: none;
            }
          }
        }

        &>a {
          border-bottom: 1px solid transparent;
          transition: border-color .2s linear;

          &:hover {
            border-color: #1a1a1a;
          }

          &+ul {
            position: absolute;
            top: 73px;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            width: 205px;
            background-color: #F5F5F5;
            box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.25);
            padding: 17px 0;
            z-index: 2;

            @media(max-width: 991px) {
              box-shadow: none;
              background-color: #fff;
              top: 0;
              position: fixed;
              width: 100%;
              height: 100%;
            }

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 20px;
              background: url('@img/icons/arrow-menu.svg') no-repeat center center / 20px;
              left: 0;
              right: 0;
              margin: auto;
              bottom: calc(100% - 2px);
              z-index: 4;
            }

            li {
              padding-left: 15px;
              padding-right: 15px;

              a {
                color: #1A1A1A;
              }
            }
          }
        }
      }
    }
  }

  &Action {
    column-gap: 30px;

    &Icons {
      column-gap: 21px;

      @media(max-width: 991px) {
        column-gap: 15px;
      }
    }
  }

  &--main {
    background: rgba($color: #1A1A1A, $alpha: .25);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    @media(max-width: 991px) {
      background: #F5F5F5;
    }

    .headerNav {
      &>ul {
        &>li {
          &>a {
            color: #fff;
            &:hover {
              border-color: #fff;
            }
            @media(max-width: 991px) {
              color: #1A1A1A;
            }
          }
        }
      }
    }


    .headerActionIcons {
      a {
        svg {
          fill: #fff;

          @media(max-width: 991px) {
            fill: #1A1A1A;
          }
        }
      }
      &>div {
        svg {
          fill: #fff;

          @media(max-width: 991px) {
            fill: #1A1A1A;
          }
        }
      }
    }

    .headerLang {
      
      a {
        color: #fff;

        @media(max-width: 1199px) {
          font-size: 15px;
        }

        @media(max-width: 991px) {
          color: #1A1A1A;
        }
      }
      select {
        color: #fff;
        option {
          color: #1a1a1a;
        }
      }
    }
  }

  &W {
    display: flex;
    align-items: center;
    column-gap: 70px;
    justify-content: space-between;
    position: relative;

    @media(max-width: 1199px) {
      column-gap: 40px;
    }
  }

  &Action {
    &Icons {
      a, div {
        svg {
          width: 17px;
          height: 17px;
        }
      }

    }
  }

  .subList {
    display: none;

    @media(max-width: 991px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 720px;
      justify-content: flex-start;
      padding-top: 0;
    }

    @media(max-width: 767px) {
      max-width: 540px;
    }

    @media(max-width: 575px) {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    .sublistHeader {
      border-bottom: 1px solid #1A1A1A;
      width: 100%;
      padding-bottom: 20px;
      padding-top: 20px;

      @media(max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    &.active {
      display: flex;
    }

    &--wide {
      width: 240px;

      @media(max-width: 991px) {
        width: 100%;
      }
    }

    .socials {
      padding-left: 15px;
      margin-top: 10px;

      &List {
        margin-top: 10px;

        img {
          transition: opacity .2s linear;

          &:hover {
            opacity: .9;
          }
        }
      }
    }

    li {
      &.has-subcat {
        padding-right: 45px;

        @media(max-width: 991px) {
          padding-right: 15px;
        }

        &:hover {
          &>ul {
            display: block;
          }
        }

        background: url('@img/icons/subcat-arrow.svg') no-repeat right 20px center / 14px;

        @media(max-width: 991px) {
          background: none;
        }
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      a {
        border-bottom: 1px solid transparent;
        width: fit-content;
        transition: border-color .2s linear;

        &+ul {
          position: absolute;
          left: 100%;
          top: 0;
          background-color: #D9D9D9;
          padding: 17px 0;
          width: 205px;
          box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.25);
        }

        &:hover {
          border-color: #1A1A1A;

        }
      }
    }
  }

  &.fixed-on {
    background-color: #F5F5F5;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all .2s linear;

    &.header--main {

      .headerNav>ul>li>a {
        color: #1a1a1a;
      }

      .headerActionIcons a svg,
      .headerActionIcons div svg {
        fill: #1a1a1a;
      }
    }

    .headerLogo--white {
      display: none;
    }

    .headerLogo--black {
      display: block;
    }
    .headerLang {
      color: #1A1A1A;
      a {
        color: #1A1A1A;
      }
      select {
        color: #1A1A1A;
      }
    }
    .headerNav > ul > li > a:hover {
      border-color: #1a1a1a;
    }
  }
}

.headerActionItemCount {
  position: relative;

  &::before {
    content: attr(data-count);
    position: absolute;
    right: -8px;
    top: -3px;
    background-color: #F40009;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.headerActionItemPerson {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: -6px;
    top: -3px;
    background-color: #46AF46;
    background-image: url('@img/icons/check-white.svg');
    background-size: 8.5px;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.headerSearch {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D9D9D9;
  width: 100%;
  display: none;
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  padding-top: 45px;
  padding-bottom: 45px;
  z-index: 2;
  @media(max-width: 1400px){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media(max-width: 767px){
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &W {
    position: relative;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  &.active {
    display: block;
    -webkit-animation: shows 0.5s;
    animation: shows 0.5s;
  }

  input {
    height: 60px;
    width: 700px;
    padding-right: 30px;
    padding-left: 40px;
    border: 1px solid rgba(196, 196, 196, 1);
    font-size: 16px;
    @media(max-width: 991px){
      width: 100%;
      height: 40px;
    }
  }

  &Submit {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}